<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="no.hiof.matsl.pfyll">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:logo="@drawable/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"

        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".Splashscreen" android:theme="@style/SplashScreenTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SingleProductActivity" android:screenOrientation="portrait" />
        <activity android:name=".SingleUserListActivity" android:screenOrientation="portrait" />
        <activity android:name=".ScanActivity" android:screenOrientation="portrait" />
        <activity android:name=".MyReviewsActivity" android:screenOrientation="portrait" />
        <activity android:name=".UserListActivity" android:screenOrientation="portrait" />
        <activity android:name=".RecentProductsActivity" android:screenOrientation="portrait" />
        <activity android:name=".MainActivity" android:screenOrientation="portrait"/>
        <activity android:name=".MapActivity" android:screenOrientation="portrait"/>
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAlMif2tpZi3kRh31awv1N3mzqT_3WHgHY"/>
    </application>

</manifest>